modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"

[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && npm run dev"
waitForPort = 5000

[[ports]]
localPort = 3001
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
VITE_CLOUDINARY_CLOUD_NAME = "dbqyo1drz"
VITE_CLOUDINARY_UPLOAD_PRESET = "ml_default"
VITE_CLOUDINARY_API_KEY = "833482958867845"
VITE_FIREBASE_API_KEY = "AIzaSyCz75vdJ56kIHuwD_JZXGDRSuntXMpb1dc"
VITE_FIREBASE_AUTH_DOMAIN = "creatorspace-eaf29.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "creatorspace-eaf29"
VITE_FIREBASE_STORAGE_BUCKET = "creatorspace-eaf29.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "461630703053"
VITE_FIREBASE_APP_ID = "1:461630703053:web:fea128f3255658449d3084"
VITE_FIREBASE_DATABASE_ID = "(default)"
